<div class="slide">
  <h1>Jag</h1>
  <ul>
    <li>Frilans med Perl,PHP,Mysql,SEO, Affiliat Marketing 10 år</li>
    <li>Hittade Ruby för ~4 år sen, Rails ett halvår senare</li>
    <li>Har på tok för många hobby rails projekt på gång. mmawiz.com, äggklocka.se, minpojke.se, minflicka.se, minvovve.se, rubylicio.us, lyricslord.com, mmawiz.com etc.
    <li>"generic viagra" made me an indie game dev</li>
  </ul>
</div>

<div class="slide">
  <h1>Spelutveckling i Ruby</h1>
  <ul>
    <li>Spelbibliotek</li>
    <li>Ramverk</li>
    <li>Verktyg</li>
    <li>Communities</li>
    <li>Deployment</li>
  </ul>
</div>


<div class="slide">
  <h1>Spelbibliotek - Rubygame</h1>
  <ul>
    <li>Rubygame 2.x ( <a href="http://rubygame.org/">http://rubygame.org/</a> )</li>
    <li>SDL - crossplatform - normal "långsam" 2D</li>
    <li>Kommer med hjälpklasser för sprites, kollisions detektering och ett utbyggd Event-system</li>
    <li>Jacius @ #rubygame (freenode)</li>
    <li>3.0 in the works, lutar åt OpenGL</li>
  </ul>
</div>

<div class="slide">
  <h1>Ramverk - Jemeni</h1>
  <ul>
    <li><a href="http://jemini.kenai.com/">Jemeni</a> - Jruby framework av <a href="http://github.com/LoganBarnett/">Logan Barnett</a></li>
    <li>Bygger på <a href="http://slick.cokeandcode.com/">Slick</a> och <a href="http://www.cokeandcode.com/phys2d/">Phys2D</a>
    <li>OpenGL 2D för snabb GFX</a>
    <li>Aldrig använt, men intressant ur deployment synvinkel</li>
  </ul>
</div>

<div class="slide">
  <h1>Spelbibliotek - GOSU</h1>
  <ul>
    <li>GOSU (<a href="http://libgosu.org/">http://libgosu.org/</a>)</li>
    <li>Tyskt och minimalistiskt</li>
    <li>C++ och Ruby</li>
    <li>OpenGL accelererat, textures as sprites, max 1022 x 1022 pixels</li>
    <li>Blixtsnabb GFX, skalning, rotering och fading</li>
    <li>Ljud via fmod, stödjer ogg, wav etc.</li>
    <li>Enkel deployment. iPhone deployment!</li>
  </ul>
</div>

<div class="slide">
  <h1>Ramverk - Gamebox</h1>
  <ul>
    <li><a href="http://github.com/shawn42/gamebox">Gamebox</a>. Bygger på Rubygame</li>
    <li><a href="http://github.com/shawn42">Shawn42</a></li>
    <li>Actors, Scenes and behaivors</li>
  </ul>
</div>

<div class="slide">
  <h1>Ramverk - Chingu</h1>
  <ul>
    <li><a href="http://ippa.se/chingu">Chingu</a> - <a href="http://github.com/ippa/chingu">github</a>. Bygger på GOSU.</li>
    <li>GameStateManager, GameObject, Animation, traits</li>
    <li>Traits (modules): timer, collision detection, viewport etc...</li>
    <li>Online high scores via <a href="http://www.gamercv.com/">GamerCV.com</a></li>
    <li>Relativt aktiv utveckling, många exempel, några slutförda spel</li>
  </ul>
</div>

<div class="slide">
  <h1>Verktyg</h1>
  <ul>
    <li>Ljud: <a href="http://www.drpetter.se/project_sfxr.html">sfxr</a>, <a href="http://www.freesound.org/">freesound</a>, <a href="http://audacity.sourceforge.net/">Audacity</a></li>
    <li>Sprites: <a href="http://www.humanbalance.net/gale/us/download.html">GraphicsGale</a>, <a href="http://tilestudio.sourceforge.net/">Tile Studio</a></li>
    <li>Stödlib (gems): <a href="http://banisterfiend.wordpress.com/2008/08/23/texplay-an-image-manipulation-tool-for-ruby-and-gosu/">TexPlay</a>, <a href="http://banisterfiend.wordpress.com/2009/10/14/the-devil-image-library-for-ruby/">DevIL</a>, <a href="http://code.google.com/p/chipmunk-physics/">Chipmunk</a></li>
  </ul>
</div>

<div class="slide">
  <h1>Community</h1>
  <ul>
    <li>#gosu, #rubygame @ freenode. #ludumdare @ afternet</li>
    <li>ludumdare.com ... tigsource.com .. etc</li>
    <li>ludumdare 48-timmars speltävling</li>
    <li>Rubyspel i Top5</li>
  </ul>
</div>


<div class="slide">
  <h1>Deployment</h1>
  <ul>
    <li><a href="http://www.erikveen.dds.nl/rubyscript2exe/">Rubyscript2exe</a></li>
    <li><a href="http://exerb.sourceforge.jp/index.en.html">Exerb</a>
    <li><a href="http://github.com/larsch/ocra/">Ocra</a> (gem install ocra)</li>
  </ul>
</div>

<div class="slide">
  <h1>Ocra</h1>
  <ul>
    <li>Ocra mitt_spel.rb lib\*</li>
    <li>Ocra autodetekterar till 99% gems och DLLs</li>
  </ul>
</div>

<div class="slide">
  <h1>URLz</h1>
  <ul>
    <li><a href="http://ippa.se/gaming">ippa.se/gaming</a> - div minigames jag meckat ihop</li>
    <li><a href="http://github.com/deps/Berzerk">Berzerk</a> - kanske det största Chingu-spelet hitils</li>
    <li><a href="http://www.ludumdare.com/compo/ludum-dare-15/?uid=1116">Mr Monocle And His Marvelous Madcap Underground Race</a>. Ludum Dare 15 vinnare i kategorin "Humor". Ruby/GOSU.</li>
  </ul>
</div>
