<div class="slide">
  <h1>Jag</h1>
  <ul>
    <li>ippa @ #rails.se #gosu #rubygame</li>
    <li>perl,php,mysql,seo 10 år</li>
    <li>generic viagra made me an indie game dev</li>
  </ul>
</div>

<div class="slide">
  <h1>Spelutveckling i ruby</h1>
  <ul>
  <li>ramverk</li>
    <li>verktyg</li>
    <li>communities</li>
    <li>deployment</li>
  </ul>
</div>

<div class="slide">
  <h1>Deployment</h1>
  <ul>
    <li>Rubyscript2exe</li>
    <li>Ocra (gem install ocra)</li>
  </ul>
</div>
