<div class="slide">
  <h1>Oh hai.</h1>
  <ul>
    <li>Frilans 10 år, affiliate marketing</li>
    <li>Hittade Ruby för ~4-5 år sen, Rails nåt halvår senare</li>
    <li>Har på tok för många hobby rails projekt på gång. mmawiz.com, äggklocka.se, minpojke.se, minflicka.se, minvovve.se, rubylicio.us, lyricslord.com, mmawiz.com etc.
    <li>Jobbat mkt med sökmotoroptimering. "generic viagra" made me an indie game dev!</li>
  </ul>
</div>

<div class="slide">
  <h1>2D Spelutveckling i Ruby</h1>
  <ul>
    <li>Kortare genomgång av spel libs</li>
    <li>Spelutveckling är en hobby, finns säkert duktigare folk i publiken!</li>
    <li>Presentationen finns online på <a href="http://ippa.se:1234">ippa.se:1234</a>
  </ul>
</div>

<div class="slide">
  <h1>Enklast möjliga spel ram</h1>
  <blockquote>
    class Game &lsaquo; Gosu::Window
    <br><br>
    &#160;def initialize<br>
      &#160;&#160;super(800, 600,60)   # &#160;&#160;width, height, fps<br>
      &#160;&#160;@game_objects.push(Player.new)<br>
      &#160;end<br><br>
    &#160;def update;  @game_objects.each { |o| o.update }; end<br>
  
    &#160;def draw; @game_objects.each { |o| o.draw }; end<br>
      end<br><br>
    Game.new.run
  </blockquote>
</div>

<div class="slide">
  <h1>Spelbibliotek - Rubygame</h1>
  <ul>
    <li>Rubygame 2.x ( <a href="http://rubygame.org/">http://rubygame.org/</a> )</li>
    <li>SDL - crossplatform - normal "långsam" 2D</li>
    <li>Stöd för sprites, kollisions detektering (bounding box) och ett utbyggd Event-system</li>
    <li>Jacius @ #rubygame (freenode)</li>
    <li>3.0 in the works, lutar åt OpenGL</li>
  </ul>
</div>

<div class="slide">
  <h1>Ramverk - Gamebox</h1>
  <ul>
    <li><a href="http://github.com/shawn42/gamebox">Gamebox</a>. Bygger på Rubygame</li>
    <li><a href="http://github.com/shawn42">Shawn42</a> @ #rubygame (freenode)</li>
    <li>rails-liknande generators, actor, scene and behaivors</li>
  </ul>
</div>

<div class="slide">
  <h1>Ramverk - Jemini</h1>
  <ul>
    <li><a href="http://jemini.kenai.com/">Jemini</a> - JRuby framework av <a href="http://github.com/LoganBarnett/">Logan Barnett</a></li>
    <li>Bygger på <a href="http://slick.cokeandcode.com/">Slick</a> och <a href="http://www.cokeandcode.com/phys2d/">Phys2D</a>
    <li>OpenGL 2D för snabb GFX</a>
    <li>Cross platform, lägg till / ta bort "behaivors" runtime</li>
    <li>Aldrig använt, men intressant ur deployment synvinkel (framtida browser deployment? android?)</li>
  </ul>
</div>

<div class="slide">
  <h1>Spelbibliotek - Gosu</h1>
  <ul>
    <li><a href="http://libgosu.org/">Gosu</a> - Tyskt och minimalistiskt</li>
    <li>C++ och Ruby</li>
    <li>OpenGL accelererat, textures as sprites, max 1022 x 1022 pixels</li>
    <li>Snabb GFX, skalning, rotering, zorder, fading. Ogg/wav stöd.</li>
    <li>@image.draw_rot(x,y,z,scale_x,scale_y,angle,color,mode)</li>
    <li>Enkel deployment. iPhone deployment (bara C++ dock).</li>
  </ul>
</div>

<div class="slide">
  <h1>Ramverk - Chingu</h1>
  <ul>
    <li><a href="http://ippa.se/chingu">Chingu</a> - <a href="http://github.com/ippa/chingu">github</a>. Bygger på Gosu.</li>
    <li>GameState, BasicGameObject, GameObject, Animation, Parallax, Text</li>
    <li>Traits (modules) addar logik till GameState och GameObject: timer, collision detection, viewport etc...</li>
    <li>Online high scores via <a href="http://www.gamercv.com/">GamerCV.com</a></li>
  </ul>
</div>

<div class="slide">
  <h1>Chingu</h1>
  <ul>
  <li>GameObject.new(:image => Image["player.png"], :x => 100, :y => 200)</a>
  <li>Railsinspirerat: GameObject.new vs GameObject.create</li>
  <li>Enemy.all</li>
  <li>Enemy.each_collision(Bullet) do |enemy, bullet|</li>
  <li></li>
  </ul>
</div>

<div class="slide">
  <h1>Chingu Ram</h1>
  <blockquote>
  class Game &lsaquo; Chingu::Window
    <br><br>
    &#160;def initialize<br>
      &#160;&#160;# width, height, fps<br>
      &#160;&#160;super(800, 600,60)<br>
      &#160;&#160;Player.create   # Det skapade objektet hamnar i "game_objects"<br>
      &#160;end<br><br>
      end<br><br>
    Game.new.run
  </blockquote>
</div>


<div class="slide">
  <h1>Verktyg</h1>
  <ul>
    <li>Ljud: <a href="http://www.drpetter.se/project_sfxr.html">sfxr</a>, <a href="http://www.freesound.org/">freesound</a>, <a href="http://audacity.sourceforge.net/">Audacity</a></li>
    <li>Sprites: <a href="http://www.humanbalance.net/gale/us/download.html">GraphicsGale</a>, <a href="http://tilestudio.sourceforge.net/">Tile Studio</a></li>
    <li>Stödlib (gems): <a href="http://banisterfiend.wordpress.com/2008/08/23/texplay-an-image-manipulation-tool-for-ruby-and-gosu/">TexPlay</a>, <a href="http://banisterfiend.wordpress.com/2009/10/14/the-devil-image-library-for-ruby/">DevIL</a>, <a href="http://code.google.com/p/chipmunk-physics/">Chipmunk</a></li>
  </ul>
</div>

<div class="slide">
  <h1>Deployment</h1>
  <ul>
    <li><a href="http://www.erikveen.dds.nl/rubyscript2exe/">Rubyscript2exe</a></li>
    <li><a href="http://exerb.sourceforge.jp/index.en.html">Exerb</a>
    <li><a href="http://github.com/larsch/ocra/">Ocra</a> (gem install ocra)</li>
  </ul>
</div>

<div class="slide">
  <h1>Ocra</h1>
  <ul>
    <li>Ocra mitt_spel.rb lib\*</li>
    <li>Ocra autodetekterar till 99% gems och DLLs</li>
    <li>En Ocra-skapas exe packas upp till tmp dir med full ruby-miljö, sen exekveras mitt_spel.rb. Så tänk på dina paths!</li>
  </ul>
</div>

<div class="slide">
  <h1>Community</h1>
  <ul>
    <li>#gosu, #rubygame @ freenode. #ludumdare @ afternet</li>
    <li>www.ludumdare.com, www.tigsource.com etc ...</li>
    <li>Ludum Dare 48-timmars speltävling. några ggr om året. ~130 deltagare.</li>
    <li>Rubyspel i Top5</li>
  </ul>
</div>

<div class="slide">
  <h1>URLz</h1>
  <ul>
    <li><a href="http://ippa.se/gaming">ippa.se/gaming</a> - div minigames jag meckat ihop</li>
    <li><a href="http://github.com/deps/Berzerk">Berzerk</a> - kanske det största Chingu-spelet hitils</li>
    <li><a href="http://www.ludumdare.com/compo/ludum-dare-15/?uid=1116">Mr Monocle And His Marvelous Madcap Underground Race</a>. Ludum Dare 15 vinnare i kategorin "Humor". Ruby / Gosu.</li>
    <li><a href="http://github.com/FooBarWidget/rubystein">Rubystein</a>. 3D via ett 2D-framework. Från mod_rack-killarna. Ruby / Gosu.</li>
    <li>Hela presentationen finns online: <a href="http://ippa.se:1234/">ippa.se:1234/</a>
  </ul>
</div>
